/* body {
    background-color: lightcyan;
} 
.number {
    color: lightseagreen;
    font-size: 50px;
  
}
.increment , .decrement {
    background-color: cornflowerblue;
    color: snow;
   padding: 30px;
    
} */